{% extends 'admin_page.html' %}
{% block div %}
<div class="rowThree" >
    <h2>PESTS</h2>
    <table>
        <tr>
            <td><h3>ID</h3></td>
            <td><h3>SCIENTIFIC NAME</h3></td>
            <td><h3>LAYMAN'S TERM</h3></td>
            <td><h3>DESCRIPTION</h3></td>
            <td><h3>IMAGE FILENAME</h3></td>
            <td></td>
        </tr>
        {% for pest in pests %}
        <tr>
            <td>{{ pest[0] }}</td>
            <td>{{ pest[1] }}</td>
            <td>{{ pest[2] }}</td>
            <td>{{ pest[3] }}</td>
            <td>{{ pest[4] }}</td>
            <td> 
                <form action="{{ url_for('adminPest') }}" method="POST" >
                    <button class="btn navi"  value="{{ pest[0] }}" type="submit" name="Edit">
                        Edit
                    </button>
                </form>
            </td>
        </tr>
        {% endfor %}  

    </table>
</div>
{% endblock %}

