{% extends 'base_template.html' %}
{% block div %}
<div class="main">
    <img width=1200px height=600px src="{{url_for('static', filename='Home.png')}}" alignment="right" />
    <!-- <img width=700px height=500px src="/home/pi/Desktop/Thesis/main/static/homePage.jpg" alignment="right" /> -->
</div>
<footer>
    <a  style="text-decoration:none; color: rgb(63, 60, 60); margin-left: 3px;" href="https://www.vecteezy.com/free-vector/rice-plant">Logo Rice Plant Vectors by Vecteezy</a>
</footer>

{% endblock %}

